#n2-ss-3 .n2-ow,
#n2-ss-3 .n2-ow-all * {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
#n2-ss-3 .n2-ow,
#n2-ss-3 .n2-ow:before,
#n2-ss-3 .n2-ow:after,
#n2-ss-3 .n2-ow-all *,
#n2-ss-3 .n2-ow-all *:before,
#n2-ss-3 .n2-ow-all *:after {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#n2-ss-3 a.n2-ow,
#n2-ss-3 .n2-ow-all a {
  border: 0;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#n2-ss-3 a.n2-ow,
#n2-ss-3 a.n2-ow:focus,
#n2-ss-3 .n2-ow-all a,
#n2-ss-3 .n2-ow-all a:focus {
  outline: none !important;
  transition: none 0s;
}
#n2-ss-3 h1.n2-ow,
#n2-ss-3 h2.n2-ow,
#n2-ss-3 h3.n2-ow,
#n2-ss-3 h4.n2-ow,
#n2-ss-3 h5.n2-ow,
#n2-ss-3 h6.n2-ow,
#n2-ss-3 p.n2-ow,
#n2-ss-3 .n2-ow-all h1,
#n2-ss-3 .n2-ow-all h2,
#n2-ss-3 .n2-ow-all h3,
#n2-ss-3 .n2-ow-all h4,
#n2-ss-3 .n2-ow-all h5,
#n2-ss-3 .n2-ow-all h6,
#n2-ss-3 .n2-ow-all p {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  width: auto;
  border: 0;
  box-shadow: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#n2-ss-3 img.n2-ow,
#n2-ss-3 .n2-ow-all img {
  width: auto;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
}
#n2-ss-3 ul.n2-ow,
#n2-ss-3 li.n2-ow,
#n2-ss-3 img.n2-ow,
#n2-ss-3 a.n2-ow,
#n2-ss-3 p.n2-ow,
#n2-ss-3 ol.n2-ow,
#n2-ss-3 textarea.n2-ow,
#n2-ss-3 input.n2-ow,
#n2-ss-3 button.n2-ow {
  -moz-transition: none 0s;
  -webkit-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}
div#n2-ss-3 {
  z-index: 3;
  margin: 0px 0px 0px 0px;
  position: relative;
  text-align: left;
}
[dir="rtl"] div#n2-ss-3 {
  text-align: right;
}
div#n2-ss-3 :focus {
  outline: none;
}
[dir="rtl"] div#n2-ss-3 .n2-ss-slide-background {
  text-align: left;
}
div#n2-ss-3.n2-ss-load-fade {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
div#n2-ss-3.n2-ss-load-fade.n2-ss-loaded {
  opacity: 1;
  position: relative;
}
div#n2-ss-3 .unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#n2-ss-3.n2notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
div#n2-ss-3 .n2noselftransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
div#n2-ss-3 .n2-ss-slide {
  text-align: center;
}
div#n2-ss-3 .n2-ss-slide,
div#n2-ss-3 .n2-ss-canvas {
  position: relative;
}
div#n2-ss-3 .n2-ss-slide,
div#n2-ss-3 .n2-ss-canvas {
  overflow: hidden !important;
}
div#n2-ss-3 .n2-ss-slide-background,
div#n2-ss-3 .n2-ss-slide-background > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
div#n2-ss-3 .n2-ss-slide .n2-ss-slide-background img {
  max-width: none;
}
div#n2-ss-3 .n2-ss-background-image {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
div#n2-ss-3 [data-mode="fill"] > .n2-ss-background-image {
  background-size: cover;
}
div#n2-ss-3 [data-mode="fit"] > .n2-ss-background-image {
  background-size: contain;
}
div#n2-ss-3 [data-mode="simple"] > .n2-ss-background-image {
  background-size: cover;
}
div#n2-ss-3 [data-mode="stretch"] > .n2-ss-background-image {
  background-size: 100% 100%;
}
div#n2-ss-3 [data-mode="center"] > .n2-ss-background-image {
  background-position: 50% 50%;
}
div#n2-ss-3 [data-mode="tile"] > .n2-ss-background-image {
  background-repeat: repeat;
}
div#n2-ss-3 [data-mode="fixed"] > .n2-ss-background-image {
  background-size: cover;
}
div#n2-ss-3 .n2-ss-slide-background-video {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
div#n2-ss-3 .n2-ss-slide-background-video.n2-active {
  visibility: visible;
}
div#n2-ss-3 .n2-ss-layers-container {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
div#n2-ss-3 [onclick].n2-ss-layers-container {
  visibility: visible;
}
div#n2-ss-3 .n2-ss-layers-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
div#n2-ss-3 .n2-ss-layers-container > * {
  visibility: visible;
}
div#n2-ss-3 .n2-ss-layer {
  position: absolute;
  outline: 1px solid RGBA(0,0,0,0);
  z-index: 1;
}
div#n2-ss-3 .n2-ss-layer-parallax,
div#n2-ss-3 .n2-ss-layer-mask,
div#n2-ss-3 .n2-ss-layer-rotation {
  width: 100%;
  height: 100%;
}
div#n2-ss-3 .n2-ss-layer[data-type="col"] > .n2-ss-layer-parallax,
div#n2-ss-3 .n2-ss-layer[data-type="content"] > .n2-ss-layer-parallax,
div#n2-ss-3 .n2-ss-layer[data-type="col"] > .n2-ss-layer-mask,
div#n2-ss-3 .n2-ss-layer[data-type="content"] > .n2-ss-layer-mask,
div#n2-ss-3 .n2-ss-layer[data-type="col"] > .n2-ss-layer-rotation,
div#n2-ss-3 .n2-ss-layer[data-type="content"] > .n2-ss-layer-rotation,
div#n2-ss-3 .n2-ss-layer[data-type="col"] > .n2-ss-layer-parallax > .n2-ss-layer-rotation,
div#n2-ss-3 .n2-ss-layer[data-type="content"] > .n2-ss-layer-parallax > .n2-ss-layer-rotation,
div#n2-ss-3 .n2-ss-layer[data-type="col"] > .n2-ss-layer-mask > .n2-ss-layer-rotation,
div#n2-ss-3 .n2-ss-layer[data-type="content"] > .n2-ss-layer-mask > .n2-ss-layer-rotation {
  display: flex;
}
div#n2-ss-3 .n2-ss-layer-group {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div#n2-ss-3 .n2-ss-layer-group > * {
  visibility: visible;
}
div#n2-ss-3 .n2-ss-layer-group > .n2-ss-layer-parallax {
  visibility: hidden;
}
div#n2-ss-3 .n2-ss-layer-group > .n2-ss-layer-parallax > * {
  visibility: visible;
}
div#n2-ss-3.n2-ss-mobile .n2-ss-slider-1,
div#n2-ss-3.n2-ss-tablet .n2-ss-slider-1 {
  background-attachment: scroll !important;
}
div#n2-ss-3 .n2-ss-widget {
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1;
  z-index: 12;
  font-size: 16px;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
}
div#n2-ss-3 .n2-ss-widget.n2-ss-widget-hidden {
  opacity: 0 !important;
}
div#n2-ss-3.n2-ss-tablet .n2-ss-widget {
  font-size: 14px;
}
div#n2-ss-3.n2-ss-mobile .n2-ss-widget {
  font-size: 12px;
}
div#n2-ss-3 .n2-ss-tablet,
div#n2-ss-3 .n2-ss-mobile,
div#n2-ss-3.n2-ss-tablet .n2-ss-desktop,
div#n2-ss-3.n2-ss-mobile .n2-ss-desktop {
  display: none;
}
div#n2-ss-3 .n2-ss-desktop,
div#n2-ss-3.n2-ss-desktop .n2-ss-desktop,
div#n2-ss-3.n2-ss-tablet .n2-ss-tablet,
div#n2-ss-3.n2-ss-mobile .n2-ss-mobile {
  display: block;
}
div#n2-ss-3.n2-ss-desktop .n2-ss-widget-display-desktop,
div#n2-ss-3.n2-ss-tablet .n2-ss-widget-display-tablet,
div#n2-ss-3.n2-ss-mobile .n2-ss-widget-display-mobile {
  display: block;
}
div#n2-ss-3 .n2-ss-desktop.n2-ib,
div#n2-ss-3.n2-ss-desktop .n2-ss-desktop.n2-ib,
div#n2-ss-3.n2-ss-tablet .n2-ss-tablet.n2-ib,
div#n2-ss-3.n2-ss-mobile .n2-ss-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-3.n2-ss-desktop .n2-ss-widget-display-desktop.n2-ib,
div#n2-ss-3.n2-ss-tablet .n2-ss-widget-display-tablet.n2-ib,
div#n2-ss-3.n2-ss-mobile .n2-ss-widget-display-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-3 .n2-ss-widget-always {
  -webkit-transform: translate3d(0,0,0);
}
div#n2-ss-3 div.n2-ss-widget-display-hover {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
div#n2-ss-3.n2-hover .n2-ss-widget-display-hover {
  opacity: 1;
}
div#n2-ss-3 .n2-ss-static-slide {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-3 .n2-ss-static-slide div[data-type="content"],
div#n2-ss-3 .n2-ss-static-slide div[data-type="content"] div.n2-ss-section-main-content {
  visibility: hidden;
}
div#n2-ss-3 .n2-ss-static-slide .n2-ss-layer,
div#n2-ss-3 .n2-ss-static-slide > div,
div#n2-ss-3 .n2-ss-static-slide div[data-type="content"] > div,
div#n2-ss-3 .n2-ss-static-slide .n2-ss-section-main-content > div {
  visibility: visible;
}
div#n2-ss-3 .n2-ss-slide .nextend-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none !important;
  height: auto;
  background: rgba(0,0,0,0.002);
}
div#n2-ss-3 video.n2-ow {
  max-width: none;
}
div#n2-ss-3 iframe.n2-ow {
  max-width: none;
}
div#n2-ss-3 .n2-ss-item-iframe {
  height: 100%;
}
div#n2-ss-3 .n2-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
div#n2-ss-3 .n2-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
div#n2-ss-3 .n2-video-play {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#n2-ss-3 form.n2-ow {
  margin: 0;
  border: 0;
  padding: 0;
}
div#n2-ss-3 .n2-fake-input,
div#n2-ss-3 input.n2-ow {
  height: auto;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
  box-shadow: none;
}
div#n2-ss-3 input.n2-ow:focus {
  outline: 0;
}
div#n2-ss-3 .n2-fake-input,
div#n2-ss-3 input.n2-ow[placeholder] {
  overflow: hidden;
  text-overflow: clip;
}
div#n2-ss-3 ::-moz-placeholder {
  text-overflow: clip;
  color: inherit;
}
div#n2-ss-3 input.n2-ow:-moz-placeholder {
  text-overflow: clip;
  color: inherit;
}
div#n2-ss-3 table.n2-ow {
  table-layout: auto;
  margin: 0;
}
div#n2-ss-3 .n2-ss-thumbnail-type {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#n2-ss-3 .n2-ss-icon-normal {
  display: inline-block;
}
div#n2-ss-3 .n2-ss-icon-hover,
div#n2-ss-3 .n2-ss-icon-has-hover:HOVER .n2-ss-icon-normal {
  display: none;
}
div#n2-ss-3 .n2-ss-icon-has-hover:HOVER .n2-ss-icon-hover {
  display: inline-block;
}
div#n2-ss-3 .n2-ss-section-main-content .n2-ss-layer {
  position: relative;
}
div#n2-ss-3 .n2-ss-section-main-content .n2-ss-item {
  float: none;
}
div#n2-ss-3 .n2-ss-layer[data-type="row"].n2-ss-stretch-layer {
  display: flex;
  flex: 1 1 auto;
}
div#n2-ss-3 .n2-ss-layer-row {
  box-sizing: border-box;
  display: flex;
}
div#n2-ss-3 .n2-ss-layer[data-type="row"].n2-ss-stretch-layer .n2-ss-layer-row {
  height: auto;
  width: 100%;
}
div#n2-ss-3 .n2-ss-layer-row > .n2-ss-layer {
  box-sizing: border-box;
  position: relative;
  width: 1px;
  flex: 1 1 auto;
}
div#n2-ss-3 .n2-ss-layer-row.n2-ss-row-wrapped {
  flex-wrap: wrap;
}
div#n2-ss-3 .n2-ss-layer-row > .n2-ss-layer[data-r="0"] {
  margin-top: 0 !important;
}
div#n2-ss-3 .n2-ss-layer-row > .n2-ss-row-break {
  display: none;
  width: 100%;
  flex: 0 0 auto;
}
div#n2-ss-3 .n2-ss-layer-row.n2-ss-row-wrapped > .n2-ss-row-break {
  display: block;
}
div#n2-ss-3 .n2-ss-layer-row > .n2-ss-layer.n2-ss-last-in-row {
  margin-right: 0 !important;
}
div#n2-ss-3 .n2-ss-layer-row > .n2-ss-layer:last-child {
  margin-right: 0;
}
div#n2-ss-3 .n2-ss-layer-row .n2-ss-item {
  float: none;
}
div#n2-ss-3 .n2-ss-layer-row .n2-ss-layer {
  position: relative;
}
div#n2-ss-3 .n2-ss-layer-content .n2-ss-layer {
  width: auto;
}
div#n2-ss-3 .n2-ss-section-outer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-3 .n2-ss-layer[data-type="content"] {
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-3 .n2-ss-section-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div#n2-ss-3 .n2-ss-layer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  height: 40px;
}
div#n2-ss-3 .n2-ss-layer-content .n2-ss-layer-needsize {
  width: 100%;
}
div#n2-ss-3 .n2-ss-layer-content[data-alignitems="stretch"] {
  align-items: stretch;
}
div#n2-ss-3 .n2-ss-layer-content[data-alignitems="flex-start"] {
  align-items: flex-start;
}
div#n2-ss-3 .n2-ss-layer-content[data-alignitems="center"] {
  align-items: center;
}
div#n2-ss-3 .n2-ss-layer-content[data-alignitems="flex-end"] {
  align-items: flex-end;
}
div#n2-ss-3 .n2-ss-layer-content[data-verticalalign="flex-start"] {
  justify-content: flex-start;
}
div#n2-ss-3 .n2-ss-layer-content[data-verticalalign="center"] {
  justify-content: center;
}
div#n2-ss-3 .n2-ss-layer-content[data-verticalalign="flex-end"] {
  justify-content: flex-end;
}
div#n2-ss-3 .n2-ss-layer-content[data-verticalalign="space-around"] {
  justify-content: space-around;
}
div#n2-ss-3 .n2-ss-layer-content[data-verticalalign="space-between"] {
  justify-content: space-between;
}
div#n2-ss-3 .n2-ss-layer[data-type="col"] {
  display: flex;
  flex-flow: column;
  order: 10;
}
div#n2-ss-3 .n2-ss-layer-col {
  box-sizing: border-box;
  position: relative;
  height: auto;
  flex: 1 1 auto;
}
div#n2-ss-3 .n2-ss-layer-col > .n2-ss-layer {
  flex: 0 0 auto;
}
div#n2-ss-3 .n2-ss-section-main-content-calc {
  min-height: auto;
  height: auto;
}
div#n2-ss-3 .n2-ss-autowidth > .n2-ss-layer-row > .n2-ss-layer {
  width: auto !important;
}
div#n2-ss-3 [data-csstextalign="left"] {
  text-align: left;
}
div#n2-ss-3 [data-csstextalign="center"] {
  text-align: center;
}
div#n2-ss-3 [data-csstextalign="right"] {
  text-align: right;
}
div#n2-ss-3 .n2-ss-layer.n2-ss-has-maxwidth[data-pm="normal"] {
  width: 100%;
}
div#n2-ss-3 [data-csstextalign="left"] .n2-ss-has-maxwidth,
div#n2-ss-3 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="center"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-has-maxwidth,
div#n2-ss-3 [data-csstextalign="left"] .n2-ss-autowidth,
div#n2-ss-3 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="center"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-autowidth {
  align-self: flex-start;
}
div#n2-ss-3 [data-csstextalign="center"] .n2-ss-has-maxwidth,
div#n2-ss-3 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-has-maxwidth,
div#n2-ss-3 [data-csstextalign="center"] .n2-ss-autowidth,
div#n2-ss-3 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-autowidth {
  align-self: center;
}
div#n2-ss-3 [data-csstextalign="right"] .n2-ss-has-maxwidth,
div#n2-ss-3 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="center"]):not([data-csstextalign="inherit"]) .n2-ss-has-maxwidth,
div#n2-ss-3 [data-csstextalign="right"] .n2-ss-autowidth,
div#n2-ss-3 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="center"]):not([data-csstextalign="inherit"]) .n2-ss-autowidth {
  align-self: flex-end;
}
div#n2-ss-3 .n2-ss-layer-content > [data-cssselfalign="left"],
div#n2-ss-3 .n2-ss-has-maxwidth[data-cssselfalign="left"],
div#n2-ss-3 .n2-ss-autowidth[data-cssselfalign="left"] {
  align-self: flex-start !important;
}
div#n2-ss-3 .n2-ss-layer-content > [data-cssselfalign="center"],
div#n2-ss-3 .n2-ss-has-maxwidth[data-cssselfalign="center"],
div#n2-ss-3 .n2-ss-autowidth[data-cssselfalign="center"] {
  align-self: center !important;
}
div#n2-ss-3 .n2-ss-layer-content > [data-cssselfalign="right"],
div#n2-ss-3 .n2-ss-has-maxwidth[data-cssselfalign="right"],
div#n2-ss-3 .n2-ss-autowidth[data-cssselfalign="right"] {
  align-self: flex-end !important;
}
div#n2-ss-3 .n2-ss-layer-inline {
  flex-direction: row;
  flex-wrap: wrap;
}
div#n2-ss-3 .n2-ss-img-wrapper,
div#n2-ss-3 .n2-ss-img-wrapper img {
  line-height: 0;
}
.n2-clear {
  clear: both;
}
.n2-in-fullscreen * {
  -webkit-animation-name: initial;
  animation-name: initial;
}
.n2-in-fullscreen [data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
  opacity: 1;
}
.n2-ss-align {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.n2-ss-align.n2-ss-slider-align-visible {
  overflow: visible;
}
div#n2-ss-3 .n2-ss-background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
div#n2-ss-3 .n2-ss-background-animation img {
  max-width: none;
}
div#n2-ss-3 .n2-ss-background-animation .n2-3d-side {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #333;
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-3 .n2-ss-background-animation .n2-ff-3d,
div#n2-ss-3 .n2-ss-background-animation .tile {
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-3 {
  width: 1920px;
  height: 1080px;
  float: left;
}
html[dir="rtl"] div#n2-ss-3 {
  float: right;
}
div#n2-ss-3 .n2-ss-slider-1 {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 1080px;
  border-style: solid;
  border-width: 0px;
  border-color: #3E3E3E;
  border-color: RGBA(62,62,62,1);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
div#n2-ss-3 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div#n2-ss-3 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-3 .n2-ss-slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid rgba(0,0,0,0);
  z-index: 10;
}
.x-firefox div#n2-ss-3 .n2-ss-slider-2 {
  opacity: 0.99999;
}
div#n2-ss-3 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 2;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-3 .n2-ss-layers-container {
  position: relative;
  width: 1920px;
  height: 1080px;
}
div#n2-ss-3 .n2-ss-slide-active {
  z-index: 3;
}
div#n2-ss-3 .nextend-arrow-reveal {
  cursor: pointer;
  z-index: 12;
  position: relative;
  height: 115px;
  width: 32px;
  background-color: transparent;
  background-color: RGBA(0,0,0,0.5);
}
div#n2-ss-3 .nextend-arrow-reveal.n2-ss-arrow-animation-slide {
  overflow: hidden;
}
div#n2-ss-3 .nextend-arrow-reveal .nextend-arrow-arrow {
  width: 32px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
div#n2-ss-3 .nextend-arrow-reveal.nextend-arrow-next .nextend-arrow-arrow {
  float: right;
}
div#n2-ss-3 .nextend-arrow-image {
  width: 168px;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  outline: 0px solid RGBA(0,0,0,0);
}
div#n2-ss-3 .n2-ss-arrow-animation-fade .nextend-arrow-image,
div#n2-ss-3 .n2-ss-arrow-animation-turn .nextend-arrow-image {
  left: 32px;
}
div#n2-ss-3 .nextend-arrow-next .nextend-arrow-image {
  left: auto;
  right: 0;
}
div#n2-ss-3 .nextend-arrow-next.n2-ss-arrow-animation-fade .nextend-arrow-image,
div#n2-ss-3 .nextend-arrow-next.n2-ss-arrow-animation-turn .nextend-arrow-image {
  right: 32px;
}
div#n2-ss-3 .nextend-arrow-reveal .nextend-arrow-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  background-color: RGBA(0,0,0,0.8);
  text-overflow: ellipsis;
  overflow: hidden;
}
div#n2-ss-3 .nextend-autoplay {
  cursor: pointer;
  z-index: 10;
  line-height: 1;
}
div#n2-ss-3 .nextend-autoplay img {
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
div#n2-ss-3 .nextend-autoplay .nextend-autoplay-play {
  display: none;
}
div#n2-ss-3 .nextend-autoplay.n2-autoplay-paused .nextend-autoplay-play {
  display: block;
}
div#n2-ss-3 .nextend-autoplay.n2-autoplay-paused .nextend-autoplay-pause {
  display: none;
}
div#n2-ss-3 .n2-bullet-bar-full-size {
  display: block;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
div#n2-ss-3 .n2-bullet-bar-full-size.nextend-bullet-bar-horizontal {
  width: 100%;
}
div#n2-ss-3 .n2-bullet-bar-full-size.nextend-bullet-bar-vertical {
  height: 100%;
}
div#n2-ss-3 .nextend-bullet-bar > div {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.4s;
  vertical-align: top;
}
div#n2-ss-3 .nextend-bullet-bar > div.n2-active {
  cursor: default;
}
div#n2-ss-3 div.n2-bullet-thumbnail-container {
  background-size: cover;
}
div#n2-ss-3 .nextend-indicator-stripe {
  width: 100%;
}
div#n2-ss-3 .nextend-indicator-stripe .nextend-indicator-track {
  width: 0;
}

div#n2-ss-3 .n2-ss-layer .n2-font-62a5d881791bd529d5891375ba891ebb-hover{font-family: 'Raleway','Arial';color: #ffffff;font-size:437.5%;text-shadow: none;line-height: 1.3;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;letter-spacing: -1px;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-62a5d881791bd529d5891375ba891ebb-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-62a5d881791bd529d5891375ba891ebb-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-62a5d881791bd529d5891375ba891ebb-hover:FOCUS{}

div#n2-ss-3 .n2-font-82a0df1d9cddac467e2aa6dcf4bc74b0-link a{font-family: 'Lato','Arial';color: #333333;font-size:93.75%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-font-82a0df1d9cddac467e2aa6dcf4bc74b0-link a:HOVER, div#n2-ss-3 .n2-font-82a0df1d9cddac467e2aa6dcf4bc74b0-link a:ACTIVE, div#n2-ss-3 .n2-font-82a0df1d9cddac467e2aa6dcf4bc74b0-link a:FOCUS{color: #ffffff;transition: background 0.3s ease;}

div#n2-ss-3 .n2-style-0be5b573d81a92802679858186775977-heading{background: #000000;background: RGBA(0,0,0,0);opacity:1;padding:1.5em 3em 1.5em 3em ;box-shadow: none;border-width: 2px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,0.8);border-radius:0px;transition: background 0.5s ease;}
div#n2-ss-3 .n2-style-0be5b573d81a92802679858186775977-heading:Hover, div#n2-ss-3 .n2-style-0be5b573d81a92802679858186775977-heading:ACTIVE, div#n2-ss-3 .n2-style-0be5b573d81a92802679858186775977-heading:FOCUS{background: #000000;background: RGBA(0,0,0,0.8);border-width: 2px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,0.8);padding:1.5em 3em 1.5em 3em ;border-radius:0px;}

div#n2-ss-3 .n2-ss-layer .n2-font-0ddfdfe39c07fcbfd6a29dc7d9e4cbed-paragraph{font-family: 'Roboto Slab';color: #333333;color: RGBA(51,51,51,0.78);font-size:118.75%;text-shadow: none;line-height: 2;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-0ddfdfe39c07fcbfd6a29dc7d9e4cbed-paragraph a{font-family: 'Roboto Slab';color: #1890d7;font-size:100%;text-shadow: none;line-height: 2;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-0ddfdfe39c07fcbfd6a29dc7d9e4cbed-paragraph a:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-0ddfdfe39c07fcbfd6a29dc7d9e4cbed-paragraph a:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-0ddfdfe39c07fcbfd6a29dc7d9e4cbed-paragraph a:FOCUS{font-family: 'Roboto Slab';color: #1890d7;font-size:100%;text-shadow: none;line-height: 2;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-3 .n2-ss-layer .n2-font-18cbb4f4e495342d095a157cbb76b676-hover{font-family: 'Oswald','Arial';color: #333333;font-size:337.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: capitalize;}
div#n2-ss-3 .n2-ss-layer .n2-font-18cbb4f4e495342d095a157cbb76b676-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-18cbb4f4e495342d095a157cbb76b676-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-18cbb4f4e495342d095a157cbb76b676-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-9b62944357b8741e8d25e1fb461e4126-hover{font-family: 'Lato','Arial';color: #444341;font-size:106.25%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-9b62944357b8741e8d25e1fb461e4126-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-9b62944357b8741e8d25e1fb461e4126-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-9b62944357b8741e8d25e1fb461e4126-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover{font-family: 'Abril Fatface';color: #ffffff;font-size:300%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover{font-family: 'Abril Fatface';color: #ffffff;font-size:187.5%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover{font-family: 'Abril Fatface';color: #ffffff;font-size:187.5%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-71c2936ac7d44fb5f043c5f6bb89b32a-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover{font-family: 'Abril Fatface';color: #ffffff;font-size:300%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-2addc9cd16638c5f4cc04d0bc2ec6ba6-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-c6103c81f35fd0bd04f1c91922da36ed-hover{font-family: 'Abril Fatface';color: #ffffff;font-size:375%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-c6103c81f35fd0bd04f1c91922da36ed-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-c6103c81f35fd0bd04f1c91922da36ed-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-c6103c81f35fd0bd04f1c91922da36ed-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover{font-family: 'Montserrat','Arial';color: #ffffff;color: RGBA(255,255,255,0.54);font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover{font-family: 'Montserrat','Arial';color: #ffffff;color: RGBA(255,255,255,0.54);font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-42dc6328a5fc0209a6aa748f480a24b9-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:112.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:112.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-45436758b379801c358ce1dd6493ff53-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:112.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:112.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover{font-family: 'Montserrat','Arial';color: #ffffff;font-size:112.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-3fb800c70a4c78d6ecdb0c34071a5478-hover:FOCUS{}

div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a:HOVER, div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a:ACTIVE, div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a:FOCUS{color: #000000;color: RGBA(0,0,0,0.8);}

div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading{background: #000000;background: RGBA(0,0,0,0);opacity:1;padding:0.7em 2.2em 0.7em 2.2em ;box-shadow: none;border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,1);border-radius:0px;}
div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading:Hover, div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading:ACTIVE, div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading:FOCUS{background: #ffffff;background: RGBA(255,255,255,0.8);padding:0.7em 2.2em 0.7em 2.2em ;border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,0.8);}

div#n2-ss-3 .n2-font-10007-link a{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-font-10007-link a:HOVER, div#n2-ss-3 .n2-font-10007-link a:ACTIVE, div#n2-ss-3 .n2-font-10007-link a:FOCUS{color: #000000;color: RGBA(0,0,0,0.8);}

div#n2-ss-3 .n2-style-136d1e4195266c290556adb3880d6150-heading{background: #000000;background: RGBA(0,0,0,0);opacity:1;padding:0.7em 2.2em 0.7em 2.2em ;box-shadow: none;border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,1);border-radius:0px;}
div#n2-ss-3 .n2-style-136d1e4195266c290556adb3880d6150-heading:Hover, div#n2-ss-3 .n2-style-136d1e4195266c290556adb3880d6150-heading:ACTIVE, div#n2-ss-3 .n2-style-136d1e4195266c290556adb3880d6150-heading:FOCUS{background: #ffffff;background: RGBA(255,255,255,0.8);border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,0.8);}

div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: uppercase;}
div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a:HOVER, div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a:ACTIVE, div#n2-ss-3 .n2-font-ed32778bc3dc36862364ab74a32a38c6-link a:FOCUS{color: #000000;color: RGBA(0,0,0,0.8);}

div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading{background: #000000;background: RGBA(0,0,0,0);opacity:1;padding:0.7em 2.2em 0.7em 2.2em ;box-shadow: none;border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,1);border-radius:0px;}
div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading:Hover, div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading:ACTIVE, div#n2-ss-3 .n2-style-e662bf9599c7143bb96c75c8682b6ad2-heading:FOCUS{background: #ffffff;background: RGBA(255,255,255,0.8);padding:0.7em 2.2em 0.7em 2.2em ;border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,0.8);}

div#n2-ss-3 .n2-ss-layer .n2-font-5dc53577ed7a738fc8ba3bb4a808a76d-hover{font-family: 'Source Sans Pro';color: #969696;font-size:187.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-weight: 300;}
div#n2-ss-3 .n2-ss-layer .n2-font-5dc53577ed7a738fc8ba3bb4a808a76d-hover:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-5dc53577ed7a738fc8ba3bb4a808a76d-hover:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-5dc53577ed7a738fc8ba3bb4a808a76d-hover:FOCUS{}

div#n2-ss-3 .n2-ss-layer .n2-font-3a03b8bcaad7a867f36c3c5de55f27dc-paragraph{font-family: 'Source Sans Pro';color: #282828;font-size:312.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-weight:300;}
div#n2-ss-3 .n2-ss-layer .n2-font-3a03b8bcaad7a867f36c3c5de55f27dc-paragraph a{font-family: 'Source Sans Pro';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-weight:300;}
div#n2-ss-3 .n2-ss-layer .n2-font-3a03b8bcaad7a867f36c3c5de55f27dc-paragraph a:HOVER, div#n2-ss-3 .n2-ss-layer .n2-font-3a03b8bcaad7a867f36c3c5de55f27dc-paragraph a:ACTIVE, div#n2-ss-3 .n2-ss-layer .n2-font-3a03b8bcaad7a867f36c3c5de55f27dc-paragraph a:FOCUS{font-family: 'Source Sans Pro';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-weight:300;}

div#n2-ss-3 .n2-font-f425a03cfe5d5d816c71de6e3b4952bc-simple{font-family: 'Montserrat';color: #ffffff;font-size:75%;text-shadow: none;line-height: 1.3;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-3 .n2-style-07b80f0c82484b6d6258ed0a5cead109-heading{background: #000000;background: RGBA(0,0,0,0.67);opacity:1;padding:10px 10px 10px 10px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:3px;}
div#n2-ss-3 .n2-style-07b80f0c82484b6d6258ed0a5cead109-heading:Hover, div#n2-ss-3 .n2-style-07b80f0c82484b6d6258ed0a5cead109-heading:ACTIVE, div#n2-ss-3 .n2-style-07b80f0c82484b6d6258ed0a5cead109-heading:FOCUS{background: #000000;background: RGBA(0,0,0,0.67);}

div#n2-ss-3 .n2-style-e2a302339b4fabcd60c2361c715e14d0-dot{background: #000000;background: RGBA(0,0,0,0.5);opacity:1;padding:5px 5px 5px 5px ;box-shadow: none;border-width: 2px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,0);border-radius:50px;margin: 4px;}
div#n2-ss-3 .n2-style-e2a302339b4fabcd60c2361c715e14d0-dot.n2-active, div#n2-ss-3 .n2-style-e2a302339b4fabcd60c2361c715e14d0-dot:HOVER{background: #01add3;background: RGBA(1,173,211,0);border-width: 2px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,0.5);}

.n2-style-42845aa02120076deb3a5681d1d750ac-simple{background: #000000;background: RGBA(0,0,0,0.5);opacity:1;padding:3px 3px 3px 3px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:3px;margin: 5px;}

